.app-background
{
  background: transparent;
  background-image: url('./img/GreyBackground2.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.transparent-block
{
  background: transparent !important;
}
